@import '~antd/dist/antd.css';

.rdw-option-wrapper {
     background-color: black !important;
     padding: 10px !important;
     border: 1px solid black !important;     
     color: white !important;
     font-weight: bold !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
     color: #000000;
     border-bottom: 3px solid #f759ab;
}